.icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #0d6efd;
}

.card .card-body {
  padding: 1rem; /* Bootstrap usa 1.25rem por defecto */
}
