/* select bonito lo usamos en el editor, pero dejamos estilos reutilizables acá también si gustas */
.pretty-select {
  border-radius: 12px;
  padding-top: .4rem;
  padding-bottom: .4rem;
  box-shadow: 0 4px 12px rgba(0,0,0,.04) inset;
}
.pretty-select:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(124,58,237,.15);
}
